h2 {
    color: #3D8694;
    font-size: 18px;
}
h2 span {
    display: block;
    color: #5C5C5C;
    font-size: 14px;
}

h3 {
    margin-bottom: 12px;
}

td, th {
    padding: 3px 8px;
}

#releasetable th {
    text-align: left;
}

#nothanks {
    margin-top: 20px;
    font-size: 10px;
    display: block;
}