#topnav .subnav {
    margin: 33px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    list-style: none;
    display: none;
    z-index: 4;
}
#topnav .subnav li {
    float: none;
    line-height: normal;
}
#topnav .subnav li a {
    border: none;
    padding: 6px 10px 6px 10px;
    display: block;
}

#topnav li:hover a, #topnav li:focus a { color: #ec008c; }

#topnav li:hover .subnav, #topnav li:focus .subnav { position:absolute; display:block;}
#topnav li:hover .subnav a, #topnav li:focus .subnav a { color: #FFFFFF; }
#topnav .subnav li a:hover { color: #db2d32; }